body {
    margin:0px; 
    font-family: 'Poppins', sans-serif;
} 
 

  
.navig { 
    height: 80px;
    display:flex;
    justify-content: space-evenly ; 
    align-items: center;
    background-color: rgb(44, 42, 42); 
   

} 

li { 
    position:relative;
    color: white;  
    list-style-type: none;
    
}
a {
    color:whitesmoke;
    text-decoration: none;
}

a:hover {
    opacity:0.5;
}