body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.header {
  display: flex;
  text-align: center;
  padding: 25px;
  justify-content: center;
  background-color: dodgerblue;
  color: white;
}

.registration-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.registration-form > label {
  text-align: center;
}
.registration-form > div:first-of-type label {
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}

label {
  font-size: 1rem;
  display: block;
  margin-left: 0;
}
.text-field {
  margin: 10px auto;
  display: block;
  padding: 5px;
  border-color: rgb(138, 191, 245);
  border-radius: 5px;
  max-width: 400px;
  box-sizing: border-box;
  width: 300px;
  margin-bottom: 20px;
}

.radio-label,
.checkbox-label {
  border-color: lightgrey;
  text-align: left;
  margin: 10px;
}

.section {
  border-top: 1px lightgrey solid;
  padding: 10px;
}

.section > label {
  text-align: left;
}

select {
  margin-left: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

textarea {
  display: block;
  background-color: rgb(233, 233, 233);
  border: none;
  width: 85vw;
  height: 80px;
  padding: 20px; 
  margin: 0 auto;
}

.form-button {
  display: block;
  cursor: pointer;
  padding: 20px 40px;
  margin: 20px auto;
  background-color: white;
  border: 2px rgb(59, 184, 226) solid;
  border-radius: 2px;
}

.form-button:hover {
  color: white;
  background-color: rgb(59, 184, 226);
}
